<ion-view view-title = "">
    <ion-content style="background: #f0f4f3;"  class="hancaiHome">
        <ul class=" padding homeInset">
            <li ng-click="clickPlFn(31)"><img src = "./img/pl3.png" alt = ""></li>
            <li ng-click="clickPlFn(40)"><img src = "./img/pl5.png" alt = ""></li>
            <li ng-click="clickPlFn(2)"><img src = "./img/dlt.png" alt = ""></li>
            <li ng-click="clickPlFn(0)"><img src = "./img/zucai.png" alt = ""></li>
        </ul>
    </ion-content>

</ion-view>
<!--ion-trash-a-->