<ion-view view-title = "">
    <ion-content style="background: #f0f4f3;"  class="hancaiHome">
        <ul class=" padding homeInset">
            <li ng-click="clickPlFn(pl3Num,footOneData[0])"><img src = "{{pl3Bg}}"></li>
            <li ng-click="clickPlFn(pl5Num,footOneData[1])"><img src = "{{pl5Bg}}"></li>
            <li ng-click="clickPlFn(2)"><img src = "{{activityPicture[2].img}}"></li>
            <li ng-click="clickPlFn(40)"><img src = "{{activityPicture[1].img}}"></li>
            <div class="my_btn" ng-click="clickPlFn(1)">
                <img src = "./img/myLottery.png" alt = "我的彩票">
            </div>
        </ul>
    </ion-content>

</ion-view>
