<ion-view view-title="世界杯-2串1">
    <ion-nav-bar class="bar bar-header bar-royal">
        <ion-nav-buttons side="left">
            <a href="#home" class="button button-icon ion-ios-arrow-left btn-mig-l"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false" style="padding-bottom: 4.9rem; padding-top: 1.4rem; ">
        <div class="content-bg">
            <div class="competition-time two-lh">
                <span class="time-t">日职赛事</span>
                <span class="time">周三&nbsp;{{endT[1]}}截止:&nbsp;&nbsp;<i>剩{{endTime.hours}}时{{endTime.minute}}分{{endTime.second}}秒</i></span>
            </div>

            <div class="competition-session" ng-repeat=" item in activityData">
                <div class="team-name">
                    <div class="weak">周三&nbsp;001</div>
                    <span>item</span>
                    <img src="./img/VS1.png">
                    <span>仙台七夕</span>
                </div>
                <div class="match-fitness p-bottom">
                    <div class="rating-num" >
                        <div class="win">
                            <div class="num-btn two-w" ng-click="bunkoBtn(1)" ng-class="betnum===1?'num-btn-click':''">胜&nbsp;&nbsp;1.64</div>
                            <span class="two-support">{{headwin}}次支持</span>
                        </div>
                        <div class="two-rating">
                            <span class="num win-cl">{{winpercent}}%</span>
                            <div class="rating">
                                <div class="plan win-plan" ng-style="{'width':'{{winpercent+'%'}}'}"></div>
                                <div class="plan draw-plan" ng-style="{'width':'{{losepercent+'%'}}'}"></div>
                            </div>
                            <span class="num lose-cl">{{losepercent}}%</span>
                        </div>

                        <div class="lose">
                            <div class="num-btn two-w" ng-click="bunkoBtn(2)" ng-class="betnum===2?'num-btn-click':''">负&nbsp;&nbsp;1.64</div>
                            <span class="two-support">{{headlose}}次支持</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="competition-session mt-1">-->
                <!--<div class="team-name">-->
                    <!--<div class="weak">周三&nbsp;001</div>-->
                    <!--<span>大阪樱花</span>-->
                    <!--<img src="./img/VS1.png">-->
                    <!--<span>仙台七夕</span>-->
                <!--</div>-->
                <!--<div class="match-fitness p-bottom">-->
                    <!--<div class="rating-num" >-->
                        <!--<div class="win">-->
                            <!--<div class="num-btn two-w" ng-click="bunkoBtnTwo(1)" ng-class="twobetnum===1?'num-btn-click':''">胜&nbsp;&nbsp;1.64</div>-->
                            <!--<span class="two-support">{{twoheadwin}}次支持</span>-->
                        <!--</div>-->
                        <!--<div class="two-rating">-->
                            <!--<span class="num win-cl">{{twowinpercent}}%</span>-->
                            <!--<div class="rating">-->
                                <!--<div class="plan win-plan" ng-style="{'width':'{{twowinpercent+'%'}}'}"></div>-->
                                <!--<div class="plan draw-plan" ng-style="{'width':'{{twolosepercent+'%'}}'}"></div>-->
                            <!--</div>-->
                            <!--<span class="num lose-cl">{{twolosepercent}}%</span>-->
                        <!--</div>-->
                        <!--<div class="lose">-->
                            <!--<div class="num-btn two-w" ng-click="bunkoBtnTwo(2)" ng-class="twobetnum===2?'num-btn-click':''">负&nbsp;&nbsp;1.64</div>-->
                            <!--<span class="two-support">{{twoheadlose}}次支持</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


        </div>
    </ion-content>
    <ion-footer-bar class="footer-bar">
        <a class="footer-clean">
            <i class="icon ion-ios-trash-outline"></i>
            <span>清空</span>
        </a>
        <div class="footer-multiple">
            <span>投</span>
            <div class="add-subtract">
                <a ng-click="multSmall()">-</a>
                <input class="multiple-ipt"
                       type="tel"
                       ng-model="multiple"
                       onKeyUp="value=value.replace(/\D/g,'')">
                <a ng-click="multBig()">+</a>
            </div>
            <span>倍</span>
        </div>
        <div class="bet-num">
            共1注&nbsp;1倍
            <i>26000</i>
            龙币
            预计奖金
            <i>10.21</i>
            元
        </div>
        <button type="button" class="button-liner-gradiend footer-confirm" style="font-size: 25px">
            确定
        </button>
    </ion-footer-bar>
</ion-view>
