<ion-view>
    <ion-content scroll = "true" class = "all_orders" has-bouncing = "true" delegate-handle = "mainScroll">
        <ion-list>
            <div class = "all_orders_list" ng-repeat="order in vm.allOrders track by $index">
                <ion-item class = "padding_h12">
                    <span ng-cloak>
                        {{order.lotteryTxt}}
                    </span>
                    <span
                            class = "fr font_style1"
                            ng-class="order.num == 4?'bonus_money':''"
                            ng-cloak>
                        {{order.statusTxt}}
                    </span>
                </ion-item>
                <img class = "prize_img" ng-if = "order.num==4" src = "./img/getPrize.png" />
                <ion-item>
                    <div class = "fl">
                        <div class = "bonus_txt">
                            <span >奖金：</span>
                            <span ng-cloak="" ng-class="order.num==4?'order_money':''" >{{order.differentTxt}}</span>
                        </div>
                        <div class = "order_number_txt" ng-cloak>
                            订单编号:{{order.orderNo}}
                        </div>
                    </div>
                    <div class = "fr">
                        <div>
                            <span  class = "font-style3">龙币支付: </span>
                            <span ng-cloak ng-class = "order.num==4?'order_money':''">{{order.patternPayment}}</span>
                        </div>
                        <div
                                class = "check_txt fr"
                                nav-transition='none' ion-direction='back'
                                ng-click="goToCheckOrders(order)">
                            查看订单
                        </div>
                    </div>
                </ion-item>
            </div>
            <div class="no_list" ng-if="vm.orderEach.length==0">
                <img src="././img/servicesFaild.png" />
                <p style="margin-bottom: 50px;">
                    暂无订单!
                </p>
            </div>
            <ion-infinite-scroll ng-if = "vm.moredata" on-infinite = "vm.loadMore()" distance = "1%"></ion-infinite-scroll>
        </ion-list>
    </ion-content>
</ion-view>
