<ion-view>
    <aside class = "aside">
        <div class = "head row">
            <div class = "shop">
                <img src = "././img/completeInf.png" alt = "shop" />
            </div>
            <div class = "text1" ng-cloak>
                <p ng-cloak="">{{realName}}</p>
            </div>
        </div>

        <ul class = "modules">
            <li ui-sref = "mine.myBonus" nav-transition = 'none' ion-direction = 'enter' ng-class = "nowModule.index==0?'navActive':''">
                <i class = "icon-myBonus"></i>
                <span>我的奖金</span>
            </li>
            <li ui-sref = "mine.bonusRecord" nav-transition = 'none' ion-direction = 'enter' ng-class = "nowModule.index==1?'navActive':''">
                <i class = "icon-bonusRecord"></i>
                <span>奖金纪录</span>
            </li>
            <li ui-sref = "mine.withdrawalRecord" nav-transition = 'none' ion-direction = 'enter' ng-class = "nowModule.index==2?'navActive':''">
                <i class = "icon-withdrawalRecord"></i>
                <span>提现纪录</span>
            </li>
            <li ui-sref = "mine.orderInquiry.allOrder" nav-transition = 'none' ion-direction = 'enter' ng-class = "nowModule.index==3?'navActive':''">
                <i class = "icon-orderInquiry"></i>
                <span>订单查询</span>
            </li>
        </ul>
       <!-- <ul class = "settings">
            <li class = "tab_default" ng-class = "selectIndex==$index ? 'navActive' : '' " ng-click = "activeTab($index)" ng-repeat = "d in tabNames">
                {{d}}
            </li>
        </ul>-->
        <ul class="settings">
            <li ng-click = "activeTab(0,0)" nav-transition='none' ion-direction='enter' ng-class="nowModule.index==3&&nowModule.listIndex==4?'navActive':''" >
                <span class="circle" style="background-color: #f03151 "></span>
                <span>全部订单</span>
            </li>
            <li ng-click = "activeTab(1,3)"  nav-transition='none' ion-direction='enter' ng-class="nowModule.index==3&&nowModule.listIndex==5?'navActive':''" >
                <span class="circle" style="background-color: #ffab00 "></span>
                <span>未中奖订单</span>
            </li>
            <li ng-click = "activeTab(2,2)"  nav-transition='none' ion-direction='enter' ng-class="nowModule.index==3&&nowModule.listIndex==6?'navActive':''">
                <span class="circle" style="background-color: #00bfdd "></span>
                <span>待开奖订单</span>
            </li>
            <li ng-click = "activeTab(3,4)"  nav-transition='none' ion-direction='enter' ng-class="nowModule.index==3&&nowModule.listIndex==7?'navActive':''">
                <span class="circle" style="background-color: #00dd2a "></span>
                <span>已中奖订单</span>
            </li>
        </ul>
    </aside>

    <div class = "index-right">
        <header>
            <div class = "text">
                积分换彩
                <small>
                    我的彩票
                </small>
                <button class = "fr button-liner-gradiend-pad " nav-transition='none' ion-direction='enter' ng-click = "goToTickets()">兑换彩票</button>
            </div>
        </header>
    </div>

    <ion-nav-view class = "modules-right"></ion-nav-view>
</ion-view>
