<ion-view >
    <ion-content class="details">
        <div class="order_details">
            <div class="order_title">
                <a href=""
                   class="fl button button-icon ion-ios-arrow-left"
                   style="font-size: 2em;"
                   nav-transition='none'
                   ion-direction='enter'
                   ng-click="goback()">  </a>
                <h4 class="title_h4" ng-cloak="">{{orderInfos.lotteryTxt}}</h4>
                <a href="" class="button fr" style="color: red" ng-cloak="">{{orderInfos.statusTxt}}</a>
            </div>
            <div class="order_content ">
                <div class="order_content_info">
                    <div class="order_title_category" ng-if="orderInfos.lotteryKind !== 0">购买方案：
                        <div class="order_ball">
                            <span
                                    ng-repeat="ball in orderInfos.lotteryList track by $index"
                                    ng-cloak="">
                                <i class="red_ball" ng-cloak="" ng-repeat="red in ball.red track by $index">{{red}}</i>
                                <i class="blue_ball" ng-cloak="" ng-repeat="blue in ball.blue track by $index">{{blue}}</i>
                            </span>
                        </div>
                    </div>
                    <!--足彩-->
                    <div class="order-title-result" ng-if="orderInfos.lotteryKind === 0">
                        <span class="text-head">购买方案&nbsp;:&nbsp;&nbsp;{{orderInfos.betNum}}场,&nbsp;&nbsp;{{orderInfos.betKind}},&nbsp;方案{{orderInfos.multiple}}倍</span>
                        <div class="match-message">
                            <table border="1" class="message-tb">
                                <tr>
                                    <th>场次</th>
                                    <th>主&nbsp;VS&nbsp;客</th>
                                    <th>投注</th>
                                    <th>赛果</th>
                                </tr>
                                <tr ng-repeat="list in orderInfos.lotteryList">
                                    <th>
                                        <div>{{list.week}}</div>
                                        <div>{{list.changci}}</div>
                                    </th>
                                    <th>
                                        <div>{{list.teamone}}</div>
                                         <div style="line-height: 2rem;">{{list.resultNum}}</div>
                                        <div>{{list.teamtwo}}</div>
                                    </th>
                                    <th style="color: red"><div ng-repeat="result in list.betRes">{{result.betrs}} {{result.betNum}}</div></th>
                                    <th style="color: red">{{list.amidithion}}</th>
                                </tr>
                            </table>
                        </div>
                    </div>


                        <!--<div class="order_title_category" ng-if="orderInfos.lotteryKind !== 0">订单支付：<span ng-cloak="">{{orderInfos.patternPayment}}</span></div>-->
                    <!--足彩-->
                        <div class="order_title_category">龙币支付：<span ng-cloak="" style="color:red; font-size: 40px">{{orderInfos.patternPayment}} </span><span>龙币</span></div>

                        <div class="order_title_category">订单编号：<span ng-cloak="">{{orderInfos.orderNo}}</span></div>
                        <div class="order_title_category">订单时间：<span ng-cloak="">{{orderInfos.createDate}}</span></div>
                        <div class="order_title_category order_money" ng-if="orderInfos.num==4">中奖奖金：<span ng-cloak="">{{orderInfos.money | currency : '￥'}}</span></div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>



