*{
    padding: 0;
    margin: 0;
}
th{
    border: 1px solid black;
    vertical-align: middle;
    padding: 0.5rem;
}
.addBtn{
    width: 50%;
    margin-left: 50%;
    margin-top: 2.3rem;
    height: 7rem;
}
.h44{
    width: 100%;
    height: 3.3rem;
}
.padding-6{
    width: 50%;
    margin-left: 50%;
}
.leftNum{
    width: 50%;
    height: 100%;
    background: #f0f4f3;
    margin-top: 2rem;
    padding-top: 2rem;
    border-right:1px solid #D3D7D6;
}

.num-sum-red {
    padding: 2rem 0 8px 3%;
}

.red-ball-bg-white {
    width: 4rem;
    height: 4rem;
    border: solid 1px #888888;
    background-color: #ffffff;
    color: #888888;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
    margin: 1.8rem 1.0%;
    display: inline-block;
    font-size: 30px;
}

.red-ball-bg-red {
    width: 4rem;
    height: 4rem;
    border: solid 1px #d11d1d;
    background-color: #d11d1d;
    color: #fff4fb;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
    margin: 1.8rem 1.0%;
    display: inline-block;
    font-size: 30px;
}

.num-sum-blue {
    padding: 2.5rem 0 0 3%;
}

.blue-ball-bg-white {
    width: 4rem;
    height: 4rem;
    border: solid 1px #888888;
    background-color: #ffffff;
    color: #888888;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
    margin: 1.8rem 1.0%;
    display: inline-block;
    font-size: 30px;
}

.blue-ball-bg-blue {
    width: 4rem;
    height: 4rem;
    border: solid 1px #3f97d5;
    background-color: #3f97d5;
    color: #fff4fb;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
    margin: 1.8rem 1.0%;
    display: inline-block;
    font-size: 30px;
}
/*排列三*/
.num-arrange-3 .col-20 {
    text-align: center;
    padding-top: 2rem;
    flex: 0 0 16%;
    color: #036bb4;
    font-size: 30px;
    margin-top: 4rem;
}

.num-arrange-3 .col-80{
    margin-top: 4rem;
}
.arrange-3-bg-white,
.arrange-3-bg-red {
    width: 4rem;
    height: 4rem;
    color: #fff4fb;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
    margin: 4px 7px;
    display: inline-block;
    font-size: 30px;
}

.arrange-3-bg-red {
    border: solid 1px #d11d1d;
    background-color: #d11d1d;
}

.arrange-3-bg-white {
    background-color: #fffefb;
    border: solid 1px #989898;
    color: #959595;
}

/* 排列三 */
.five .num-arrange-3 .row .col-20{
    margin-top: 0.4rem;
}
.five .num-arrange-3 .row .col-80{
    margin-top: 0.4rem;
}


/*大乐透*/
.bar.bar-light.bar-header{
    height: 5rem;
}
.bar.bar-light .title{
    font-size: 34px;
    line-height: 5rem;
    height: 5rem
}
.headTime{
    font-size:28px;
}

.headTime .time{
    font-size:28px;
}
.detele{
    font-size: 24px;
    line-height: 4rem;
}
.middle{
    font-size: 24px
}
.exchange .button{
    float: left;
    margin-left: -12rem
}
.number{
    font-size: 28px;
}
.h44 .button{
    font-size: 24px;
    height: 3rem;
}
.bar .button.button-icon:before, .bar .button .icon:before, .bar .button.icon-left:before, .bar .button.icon-right:before, .bar button.button-icon:before, .bar button .icon:before, .bar button.icon:before, .bar button.icon-left:before, .bar button.icon-right:before {
    line-height: 4rem;
    font-size: 40px;
}
.h44 a.button.icon:before, .betting-detail-ul a.button .icon:before {
    line-height: 2.9rem;
}
.padding-6{
    padding-top:9rem;
}
.betting-num i{
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size:26px;
    margin: 3px 1%;
}
.item-button-right > .button, .item-button-right .item-content > .button, .item-button-right > .buttons, .item-button-right .item-content > .buttons{
    top: 21px;
}
.item-button-right > .button .icon:before, .item-button-right .item-content > .button .icon:before, .item-button-right > .buttons .icon:before, .item-button-right .item-content > .buttons .icon:before {
    line-height:30px;
    font-size: 48px;
    margin-left: 16px;
}
.betting-detail-ul li {
    padding-left: 100px;
}

.betting-detail-footer .bigLotto-input1 {
    width: 5rem;
    height: 2rem;
    border-radius: 6px;
    font-size: 26px;
    line-height: 2rem;
}
/* 弹窗 */
.modalBtn{
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.modalBtn button{
    width: 100%;
    font-size: 28px;
    line-height: 3.2rem;
    background:gainsboro;
}
.modalBtn button:first-child{
    border-right:1px solid gainsboro;
}
.modalBtn button:last-child{
    border-left:1px solid gainsboro;
}

.account-modal2 .account-style1 {
    padding: 1px 10px 29px 10px;
}
.account-style1{
    padding-bottom:40px;
}

/*足彩*/
.bar-header{
    height: 4rem;
}
.bar .title{
    height: 100%;
    line-height: 4rem;
    font-size: 38px;
}

.btn-mig-l{
    margin-left: 3.5rem;
    display: flex;
    align-items: center;
}
.footer-bar{
    height: 7.5rem;
    line-height: 7.5rem;
    border-top: 1px solid gainsboro;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}
.footer-clean{
    width: 7rem;
    float: left;
    font-size: 52px;
    color: #1F3795  ;
    display: flex;
}
.footer-clean span{
    font-size: 28px;
    margin-left: 13px;
}
.footer-confirm{
    width: 13.5rem;
    height: 4rem;
    border-radius: 47px;
}
.footer-multiple{
    display: flex;
    width: 23rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    justify-content: space-between;
    font-size: 31px;
    margin-left: 14rem ;

}
.footer-multiple .add-subtract .multiple-ipt{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 55px;
}
.add-subtract{
    width: 17rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
}
.add-subtract a{
    display: block;
    width: 7rem;
    text-align: center;
    color: black;
    background: gainsboro;

}
.add-subtract a:first-child{
    border-right:1px solid black ;
}
.add-subtract a:last-child{
    border-left:1px solid black ;
}
.bet-num{
    width: 59rem;
    text-align: center;
    font-size: 27px;
}
.bet-num i{
    font-size: 43px;
    color: purple;
}
.content-bg{
    background: url("../img/footballBg.png") no-repeat;
    background-size:100% 100% ;
    width: 100%;
    height: 100%;
    padding: 0 10rem;
}
.competition-time{
    color: #ffffff;
    line-height: 9rem;
    text-align: center;
}
.competition-time .time-t{
    font-size: 30px;
    float: left;
}
.competition-time .time{
    font-size: 26px;
}
.competition-time .time i{
    color: #FF9307;
}
.competition-session{
    width: 100%;
}
.team-name {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    background: #692CFE;
    align-items: center;
    font-size: 58px;
    color: white;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    position: relative;
    padding: 0 8rem;
    overflow: hidden;
}
.team-name .weak{
    position: absolute;
    left: 0;
    top:0;
    background: white;
    font-size: 26px;
    color: #692CFE;
    padding: 12px 32px;
    border-bottom-right-radius: 15px;
}
.match-fitness{
    padding: 4rem 5rem 2rem;
    background: white;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

}
.match-fitness .rating{
    width: 100%;
    height: 1.2rem;
    background: gainsboro;
    border-radius: 28px;
    overflow: hidden;
}
.match-fitness .rating .plan{
    height: 100%;
    float: left;
}
.match-fitness .rating .win-plan{
    background:#00B7EE;
    border-radius: 28px;
}
.rating-num .win-cl{
    color:#00B7EE ;
}

.match-fitness .rating .draw-plan{
    background:#EB00EE;
    border-radius: 28px;
}
.rating-num .draw-cl{
    color:#EB00EE ;
}

.match-fitness .rating .lose-plan{
    background:#BFE707;
}
.rating-num .lose-cl{
    color:#BFE707 ;
}




.match-fitness .rating-num{
    display: flex;
    justify-content: space-around;
}
.match-fitness .rating-num div{
    text-align: center;
}
.match-fitness .rating-num .num{
    line-height: 5rem;
    font-size: 34px;
}
.match-fitness .rating-num .num-btn{
    border: 3px solid #6636D3;
    border-radius: 19px;
    padding: 4rem 7rem;
    font-size: 51px;
    color: #6636D3;
    font-weight: bold;
}
.match-fitness .rating-num .num-btn-click{
    border: 3px solid #FB9504;
    background: #FB9504;
    color: white;
}

.match-fitness .rating-num .support{
    line-height: 9rem;
    font-size: 40px;
    color: #6A2EFE;
}
/*足彩-2串1*/
.two-lh{
    line-height: 5.5rem;
}
.two-rating{
    display: flex;
    width: 28rem;
    align-items: flex-end;
    padding-bottom: 1rem;
}
.two-rating .rating{
    margin: 0 1.5rem;
}
.p-bottom{
    padding-bottom: 0;
    padding-top: 2rem;
}
.two-support{
    line-height: 3rem;
    font-size: 30px;
    color: #6A2EFE
}
.match-fitness .rating-num .two-w{
    width: 32rem;
    height: 9rem;
}
.mt-1{
    margin-top: 1rem;
}
.match-fitness .two-rating{
    background: url("../img/pk.png") no-repeat;
    background-position-x: center;
}
.match-fitness .two-rating .num{
    line-height: 1rem;
}
.match-fitness .two-rating .rating{
    background:#EB00EE ;
}
/*彩票详情页*/

.order-title-result{
    text-align: center;
}
.order-title-result .text-head{
    font-size: 32px;
}
.order-title-result .match-message{
    width: 100%;
    margin: 2rem 0;
    padding: 0 13.5rem;
}
.match-message .message-tb{
    width: 100%;
    font-size: 17px;
    font-weight: 100;
}
.match-message .message-tb tbody tr:first-child{
    font-size: 24px;
    font-weight: 900;
}
.match-message .message-tb tbody tr:first-child th{
    padding: 1rem;
}
.hancaiHome li img{
    height: 34rem;
}

